{% load static %}
<footer>
    <div class="bg-gray primary-padding top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h6 class="footer-title">Customer Care</h6>
                    <ul class="footer-link cs-link">
                        <li><a href="#">Contact Us </a></li>
                        <li><a href="#">Payment Options </a></li>
                        <li><a href="#">Ordering </a></li>
                        <li><a href="#">Shipping & Delivery </a></li>
                        <li><a href="#">Returns & Exchanges</a></li>
                    </ul>
                </div>
                <!--customer care-->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h6 class="footer-title">Information</h6>
                    <ul class="footer-link cs-link">
                        <li><a href="#">About Us </a></li>
                        <li><a href="#">Careers </a></li>
                        <li><a href="#">Affiliates </a></li>
                        <li><a href="#">Press </a></li>
                        <li><a href="#">Investor Relations</a></li>
                    </ul>
                </div>
                <!--information-->

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <h6 class="footer-title">Site Terms</h6>
                    <ul class="footer-link cs-link">
                        <li><a href="#">Sitemap </a></li>
                        <li><a href="#">Terms of Use </a></li>
                        <li><a href="#">Terms of Sale </a></li>
                        <li><a href="#">Privacy Policy </a></li>
                        <li><a href="#">Shop Glossary </a></li>
                    </ul>
                </div>
                <!-- Site Terms -->

                <div class="col-md-3 col-sm-3 col-xs-12 signup">
                    <h6 class="footer-title">Email signup</h6>
                    <p class="primary-color">
                        <strong>Get 10% OFF when you signup for our email newsletter!</strong>
                    </p>

                    <form action="#" class="form-inline">
                        <input type="text" placeholder="Email address">
                        <button type="submit"><i class="pe-7s-mail"></i></button>
                    </form>
                    <p class="lh-normal">
                        <small>By entering your email address,
                            you agree to receive offers, promotions,
                            and other commercial messages RAB Fashion. </small>
                    </p>
                </div>
                <!--email signup-->
            </div>
        </div>
    </div>
    <!--top-->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 copy-right">
                    Copyright © 2017 <strong class="primary-color">RAB Shopping.</strong> All rights reserved.
                </div>
                <!--left-->

                <div class="col-md-6 col-sm-6 col-xs-12 txt-r ">
                    <ul class="social-icons">
                        <li> <a href="#"><i class="fa fa-facebook"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-linkedin"></i></a> </li>
                        <li> <a href="#"><i class="fa fa-instagram "></i></a> </li>
                    </ul>
                </div>
                <!--right-->
            </div>
        </div>
    </div>
    
</footer>