{% load static %}
<li>
    <a href="{% url 'cart' %}" title="">
        <span class="count rounded-crcl">{{request.session.cart_length}}</span>
        <i class="pe-7s-shopbag icon"></i>
    </a>

    <!--
    <div class="dropdown-menu widget woocommerce widget_shopping_cart">
        <div class="widget_shopping_cart_content">
            <h6 class="title">Your Shopping Cart ({{request.session.cart_length}} Items)</h6>
            <ul class="cart_list product_list_widget ">
                <li class="mini_cart_item">
                    <table>
                        <tr>
                            <td class="figure">
                                <figure>
                                    <img src="{% static 'user\assets\images\cart-widget-product.jpg' %}" alt="">
                                </figure>
                            </td>

                            <td class="content">
                                <a href="#" class="remove" title="Remove this item">
                                    <i class="fa fa-close"></i>
                                </a>

                                <h6 class="product-title">
                                    Ladies black formal jacket
                                </h6>

                                <ul class="product-info m-0">
                                    <li>Price : $189.00</li>
                                    <li>Qty : 2 </li>
                                    <li>Size : XL</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>


                <li class="mini_cart_item">
                    <table>
                        <tr>
                            <td class="figure">
                                <figure>
                                    <img src="{% static 'user\assets\images\cart-widget-product.jpg' %}" alt="">
                                </figure>
                            </td>

                            <td class="content">
                                <a href="#" class="remove" title="Remove this item">
                                    <i class="fa fa-close"></i>
                                </a>

                                <h6 class="product-title">
                                    Ladies black formal jacket
                                </h6>

                                <ul class="product-info m-0">
                                    <li>Price : $189.00</li>
                                    <li>Qty : 2 </li>
                                    <li>Size : XL</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                

                <li class="mini_cart_item">
                    <table>
                        <tr>
                            <td class="figure">
                                <figure>
                                    <img src="{% static 'user\assets\images\cart-widget-product.jpg' %}" alt="">
                                </figure>
                            </td>

                            <td class="content">
                                <a href="#" class="remove" title="Remove this item">
                                    <i class="fa fa-close"></i>
                                </a>

                                <h6 class="product-title">
                                    Ladies black formal jacket
                                </h6>

                                <ul class="product-info m-0">
                                    <li>Price : $189.00</li>
                                    <li>Qty : 2 </li>
                                    <li>Size : XL</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                

                <li class="mini_cart_item">
                    <table>
                        <tr>
                            <td class="figure">
                                <figure>
                                    <img src="{% static 'user\assets\images\cart-widget-product.jpg' %}" alt="">
                                </figure>
                            </td>

                            <td class="content">
                                <a href="#" class="remove" title="Remove this item">
                                    <i class="fa fa-close"></i>
                                </a>

                                <h6 class="product-title">
                                    Ladies black formal jacket
                                </h6>

                                <ul class="product-info m-0">
                                    <li>Price : $189.00</li>
                                    <li>Qty : 2 </li>
                                    <li>Size : XL</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </li>
                
            </ul>
            

            <div class="buttons">
                <a href="#" class="button">view cart</a>
                <a href="#" class="button checkout">checkout</a>
            </div>
            
        </div>
    </div>
    -->
</li>