{% extends 'user\base.html' %}
{% load static %}

{% block banner %}
<div class="main-banner inner-banner banner-scroll">
    <div class="fixed-banner banner-support">
        <div class="banner-content">
            <div class="content-wrap mb-0 banner-overlay">
                <div class="inner">
                    <h2>support</h2>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Support</li>
                    </ol>
                </div>
            </div>
            <!--content wrap-->
        </div>
        <!--banner content-->
    </div>
</div>
<!--main banner-->
{% endblock banner %}
<!--main banner-->

{% block content %} 
    <div class="container support"> 
        <div class="row">
            <div class="col-md-10 col-sm-10 col-sm-offset-1 col-xs-12">
                <div class="support-wrap row p-pb">
                    <div class="col-sm-6">
                        <a href="#" class="support-box font-pop primary-border">
                            <i class="primary-color pe-7s-help1"></i> Contact Support
                            <span>Submit a request, chat or email support</span>
                        </a>
                    </div>
                    <!--contact suppport-->

                    <div class="col-sm-6">
                        <a href="#" class="support-box font-pop secondary-border">
                            <i class="secondary-color pe-7s-albums"></i> My Support Request
                            <span>View the support request you have submitted.</span>
                        </a>
                    </div>
                    <!--contact suppport-->
                </div>
                <!--support box-->

                <h3 class=" text-center lh-normal mb-50">Frequently Asked Questions</h3>
                <!-- Nav tabs -->

                <ul class="nav nav-tabs support-tab" role="tablist">
                    <li class="active">
                        <a href="#general" data-toggle="tab">General</a>
                    </li>
                    <li>
                        <a href="#sales" data-toggle="tab">Sales</a>
                    </li>
                    <li>
                        <a href="#support" data-toggle="tab">Support</a>
                    </li>
                    <li>
                        <a href="#press" data-toggle="tab">Press</a>
                    </li>
                </ul>
                <!-- Tab panes -->

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="general">
                        <div class="support-accordion">
                            <h6>
                                My account is still being provisioned, what do i do now?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de.
                                </p>
                            </div>

                            <h6>
                                What is after sales questions for me lorem ipsum?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.
                                </p>
                            </div>

                            <h6>
                                What is after sales questions for me lorem ipsum?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.
                                </p>
                            </div>

                            <h6>
                                What is after sales questions for me lorem ipsum?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--general-->

                    <div role="tabpanel" class="tab-pane fade" id="sales">
                        <div class="support-accordion">
                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.
                                </p>
                            </div>

                            <h6>
                                What is after sales questions for me lorem ipsum?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--sales-->

                    <div role="tabpanel" class="tab-pane fade" id="support">
                        <div class="support-accordion">
                            <h6>
                                My account is still being provisioned, what do i do now?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de.
                                </p>
                            </div>

                            <h6>
                                What is after sales questions for me lorem ipsum?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>
                        </div>
                    </div>                            
                    <!--support-->

                    <div role="tabpanel" class="tab-pane fade" id="press">
                        <div class="support-accordion">
                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.
                                </p>
                            </div>

                            <h6>
                                What is after sales questions for me lorem ipsum?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>

                            <h6>
                                What is whitelabelling for me lopper ipsum and how do i do it?
                            </h6>
                            <div>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--press-->
                </div>
            </div>
        </div> 
    </div>
{% endblock content %}